# Comms App Environment Variables

# Orchestra
ORCHESTRA_URL=
ORCHESTRA_ADMIN_KEY=
UNIFY_KEY=

# LiveKit
LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_SIP_URI=
LIVEKIT_EGRESS_GCS_BUCKET=

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_API_SID=
TWILIO_API_SECRET=
TWILIO_VERIFICATION_NUMBER=
TWIML_SIP_USERNAME=
TWIML_SIP_PASSWORD=

# Internal Service URLs
UNITY_COMMS_URL=
UNITY_ADAPTERS_URL=

# GCP
GCP_SA_KEY=

# LLM
ANTHROPIC_API_KEY=
