# Adapters Environment Variables

# Orchestra
ORCHESTRA_ADMIN_KEY=
SHARED_UNIFY_KEY=

# Internal Service URLs
UNITY_COMMS_URL=
UNITY_ADAPTERS_URL=

# GCP
GCP_PROJECT_ID=
GCP_SA_KEY=
ASSISTANT_MESSAGE_ATTACHMENTS_BUCKET_NAME=

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

# LiveKit
LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_SIP_URI=
