fastapi
google-api-python-client
google-cloud-pubsub
google-cloud-storage
httpx
kubernetes
livekit
livekit-api
pytest
python-dotenv
python-multipart
twilio
uvicorn[standard]
azure-identity
msgraph-sdk
